.bgHeroQuemSomos {
  background: url(../../assets/img/webp/bgQuemSomos.webp);
  min-height: 110vh;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroQuemSomosContent {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  padding: 3rem;
}

.quemSomosVideo {
  margin-left: 3rem;
}

.quemSomosCards {
  width: 500px;
}
.heroCard {
  background-color: var(--cinza4);
  color: var(--branco);
  padding: 2rem;
  border: 2px solid var(--branco);
  border-radius: 25px 25px 5px 25px;
  position: relative;
  margin: 4rem 0;
}

.heroCard::after {
  content: url(../../assets/img/svgs/pelvieCardQuemSomos.svg);
  position: absolute;
  top: 0;
  left: -10px;
  transform: scale(140%);
}

.heroCard h2 {
  font-size: 2.7rem;

  border-radius: 25px 25px 5px 25px;
  padding-left: 4rem;
  background: linear-gradient(
      -87deg,
      rgba(71, 2, 104, 0.4) 6.12%,
      rgba(107, 208, 105, 0.4) 25.7%,
      rgba(149, 149, 149, 0.4) 99.25%
    ),
    linear-gradient(-92deg, #d05cf3 0.99%, #b1b1b1 100%);
  margin: 0 0 3rem;
}

.heroCard p {
  color: var(--branco);
  font-size: 1.7rem;
  padding: 0 2rem;
  font-weight: 500;
}

.ourValues {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourValues h2 {
  color: var(--verde3);
  margin: 4rem 0;
}

.ourValuesCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.ourValuesCards .card {
  border: none;
  /* background-image: linear-gradient(
    120deg,
    rgba(241, 241, 241, 0.9) -0.02%,
    rgba(255, 255, 255, 0.9) 55.19%,
    rgba(246, 246, 246, 0.9) 99.98%
  ); */
  box-shadow: 0 0 3px var(--verde3);
  transition: 0.3s ease-in-out, cursor 0.4s ease-in-out;
}

.ourValuesCards .card h3 {
  color: var(--verde3);
}

.ourValuesCards span .bigCard {
  justify-content: start !important;
  gap: 3rem;
  height: 400px;
}

.bigCard h2 {
  color: var(--branco) !important;
  background: linear-gradient(120deg, #bee596 0%, #56a88a 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset;
  padding: 1rem 2rem !important;
  border-radius: 4rem;
  width: 100%;
  font-size: 1.9rem !important;
}

.bigCard h2::after {
  display: none;
}

.bigCard img {
  display: none;
}
.bigCard p {
  color: var(--cinza);
}

.ourValuesCards .card:hover {
  box-shadow: 8px 6px 20.5px rgba(0, 0, 0, 0.15);
  transform: scale(105%);
}

.bgTeam {
  margin: 4rem 0;
  background: url(../../assets/img/webp/teamPic.webp);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 40%;
}

.professionalDescription {
  text-align: center;
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 3px var(--roxo4);
}

.professionalDescription span {
  font-size: 1.8rem;
  color: var(--roxo4);
  font-family: var(--sourceSans);
  font-weight: 500;
}

.professionalDescription h2 {
  color: var(--cinza);
  line-height: 1.2;
  font-size: 3.4rem;
  font-weight: 500;
}

.bgCurriculumNoPic,
.bgCurriculum {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 3rem 1rem;
}

body {
  scroll-snap-type: y mandatory !important;
  scroll-snap-stop: y Mandatory !important;
}

.bgCurriculum {
  background-image: url(../../assets/img/webp/bgCurriculum.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 1600px) {
  .bgHeroQuemSomos {
    min-height: 100vh;
  }
  .heroQuemSomosContent {
    padding: 5rem 1rem;
  }

  .heroQuemSomosContent video {
    height: 550px ;
  }
}


@media(max-width: 1230px){
  .heroQuemSomosContent {
    flex-direction: column;
  }
  .quemSomosCards {
    width: 100%;
  }
  .heroQuemSomosContent video {
    height:500px;
    margin-top: 70px;
  }
  .quemSomosVideo {
    margin-left: 0;
  }

  .bgHeroQuemSomos {
    padding-top: 0;
  }
}
@media (max-width: 1100px) {
  .bgCurriculumNoPic,
  .bgCurriculum {
    min-height: max-content;
  }
}
@media (max-width: 800px) {
  .bgTeam {
    margin: 4rem 0;
    background: url(../../assets/img/webp/teamPicMobile.webp);
    background-position: center center;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  .heroCard h2 {
    padding: 0;
    text-align: center;
    font-size: 2.6rem;
  }

  .heroCard p {
    text-align: justify;

    hyphens: auto;
  }

  .professionalDescription h2 {
    font-size: 2.2rem;
    margin: 1rem 0;
  }

  .bgCurriculumNoPic,
  .bgCurriculum {
    align-items: center;
    justify-content: center;
  }

  .text a {
    padding: 1rem 0 !important;
  }
}
