@keyframes menuOpen {
  from {
    height: 0;
    opacity: 0;
    top: -100%;
  }
  to {
    height: 100%;
    top: 0;
    opacity: 1;
  }
}
@keyframes menuClose {
  from {
    display: initial;
    height: 100%;
    opacity: 1;
  }
  to {
    height: 0;
    top: -100%;
    opacity: 0;
  }
}
.header,
.headerClosed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--roxo5);
  backdrop-filter: blur(1rem);
  z-index: 110;
  transition: background 0.3s ease-in-out;
}
.header h1 {
  color: var(--branco);
}
.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navMenu {
  display: flex;
  justify-content: center;
}
.navMenuHeader a {
  color: var(--branco);
}
.contato {
  display: flex;
  padding: 3rem 2rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.contato a {
  border-radius: 30px;
  font-weight: bold;
  color: var(--branco);
  transition: 0.2s;
}
.contato a:hover {
  transform: scale(105%);
  filter: brightness(120%);
}
.footerMenuMobile {
  display: none;
}
.navigationTextMenu {
  display: none;
}
.navMenu a {
  font-size: 1.8rem;
  display: block;
  padding: 3rem 2rem;
  position: relative;
}
.active {
  transition: 0.4s;
  font-weight: bold;
  color: var(--branco) !important;
}
.active::before,
.navMenu a:not(.active)::before {
  transition: 0.2s;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--branco);
  left: -2px;
  top: 45%;
}
.navMenu a:not(.active)::before {
  width: 0;
  height: 0;
  top: 50%;
  left: 20px;
}
.navMenu a:not(.active):hover {
  color: var(--branco);
}
.navMenu a:not(.active):hover::before {
  width: 10px;
  height: 10px;
  left: -2px;
  top: 45%;
}
@media (max-width: 1000px) {
  .header,
  .headerContent {
    padding: 0 !important;
  }
  .header {
    animation: menuOpen 1s forwards;
    transition: height 1s ease-in-out;
    height: 100%;
  }
  .headerClosed {
    animation: menuClose 1s forwards;
  }
  .headerContent {
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    height: 100%;
    background-color: var(--roxo2);
  }
  .navMenu {
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
  }
  .navMenu a {
    padding: 1rem !important;
    text-align: left;
    color: var(--branco);
    width: 70%;
  }
  .navMenu a::after {
    content: "";
    width: 96%;
    height: 1px;
    background-color: var(--roxo1);
    position: absolute;
    left: -5px;
    bottom: 0px;
  }
  .contato {
    display: none;
  }
  .navigationTextMenu {
    width: 70% !important;
    display: flex;
    flex-direction: column;
  }
  .navigationTextMenu span {
    display: block;
    color: var(--verde1);
    font-size: 1.2rem;
    width: 70%;
  }
  .navigationTextMenu h3 {
    font-size: 1.8rem;
    color: var(--branco);
  }
  .navigationTextMenu,
  .navMenu {
    width: 100%;
    padding-left: 3rem;
  }
  .footerMenuMobile {
    width: 65%;
    display: initial;
  }
  .buttonsFooterMenu {
    margin: 2rem 0;
  }
  .buttonsFooterMenu a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    padding: 0.6rem 0;
    font-size: 2rem;
    border-radius: 1rem;
    color: var(--branco);
    transition: 0.2s;
    font-weight: bold;
  }
  .navigationTextMenu img {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .buttonsFooterMenu a {
    border: 3px solid var(--roxo1);
    color: var(--branco);
  }
  .buttonsFooterMenu a:hover {
    background-color: var(--roxo1);
    color: var(--branco);
  }
  .textFooterMenu {
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }
  .textFooterMenu div h3 {
    font-size: 1.7rem;
    color: var(--branco);
  }
  .textFooterMenu div p {
    font-size: 1.2rem;
    color: var(--branco);
  }
  .logoColoridaDesktop {
    display: none;
  }
  .active::before,
  .navMenu a:not(.active)::before {
    background-color: var(--verde1);
    left: -10px;
    top: 38%;
  }

  .navMenu a:not(.active)::before {
    top: 50%;
    left: 20px;
  }
  .navMenu a:not(.active):hover::before {
    left: -10px;
    top: 38%;
  }
}
@media (max-width: 600px) {
  .navMenu a {
    color: var(--branco);
  }
  .active {
    color: var(--branco) !important;
    font-weight: bold;
  }

  .navMenu a:not(.active):hover {
    color: var(--verde1);
  }

  .navigationTextMenu {
    position: relative;
    top: 30px;
  }

  .navMenu {
    position: relative;
    top: 20px;
  }

  .navMenu a {
    padding: 1.5rem !important;
    width: 100%;
  }
  .navigationTextMenu {
    display: block;
    width: 100% !important;
  }
  .navigationTextMenu,
  .navMenu {
    width: 100%;
    padding-left: 3rem;
  }
  .footerMenuMobile {
    padding-bottom: 2rem;
    width: 90%;
  }
  .buttonsFooterMenu {
    margin: 0 auto;
  }
  .buttonsFooterMenu a {
    font-size: 1.3rem;
  }
}
