.specCard {
  width: max-content;
  height: max-content;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 506px;
}

.specCard > img {
  border: 3px solid var(--branco);
  border-radius: 10px;
  position: relative;
}

.descriptionCard {
  background-color: var(--roxo3);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: bottom 0.5s;
  border-radius: 10px;
  padding: 2rem 1rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

.descriptionCard h3 {
  color: var(--verde2);
  font-size: 2rem;
  position: relative;
  line-height: 1;
}

.descriptionCard h3 span {
  display: block;
}

.descriptionCard span:nth-child(1) {
  font-size: 2rem;
  font-weight: 400;
  color: var(--verde2);
}

.descriptionCard p,
.descriptionCard span {
  color: var(--branco);
}

.descriptionCard span {
  font-size: 1.5rem;
}

.descriptionCard::after {
  content: "";
  width: 10px;
  border-radius: 2rem;
  height: 75%;
  position: absolute;
  left: 15px;
  top: 21px;
  background-color: var(--verde2);
}

.specCard button {
  position: absolute;
  bottom: 10px;
  right: 0;
  background-color: transparent;
}

.CardMain {
  position: relative;
  width: max-content;
}

.doctorName {
  position: absolute;
  width: 100%;
  transition: opacity 2s;
}

.doctorName::after {
  content: "";
  width: 50px;
  height: 8px;
  background-color: var(--roxo4);
  position: absolute;
  left: 0;
  top: 35%;
  border-radius: 2rem;
}

.doctorName h3 span,
.doctorName h3 {
  text-align: right;
  font-size: 2rem;
  color: var(--branco);
}

.doctorName h3 span {
  font-weight: 400;
}
