.specCard {
  width: max-content;
  height: max-content;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 435px;
  width: 100%;
}

.specCard > img {
  border: 3px solid var(--branco);
  border-radius: 10px;
  position: relative;
  transition: border 0.1s ease-in-out;
}

.descriptionCard {
  background-color: var(--verde4);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: bottom 0.5s;
  border-radius: 10px;
  padding: 2rem 1rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

.descriptionCard h3 {
  color: var(--verde2);
  font-size: 2rem;
  position: relative;
  line-height: 1;
  color: var(--branco);
  font-family: var(--sourceSans);
}

.descriptionCard h3 span {
  display: block;
}

.descriptionCard span:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  color: var(--branco);
}

.descriptionCard p,
.descriptionCard span {
  color: var(--branco);
}

.descriptionCard span {
  font-size: 1.5rem;
}

.descriptionCard::after {
  content: "";
  width: 4px;
  border-radius: 2rem;
  height: 75%;
  position: absolute;
  left: 15px;
  top: 21px;
  background-color: var(--branco);
  box-shadow: 0 0 3px var(--branco);
}

.specCard button {
  position: absolute;
  bottom: 5px;
  right: -20px;
  scale: 80%;
  background-color: transparent;
}
.specCard button:hover {
  background-color: transparent;
  scale: 100%;
}

.CardMain {
  position: relative;
  width: max-content;
}

.doctorName {
  position: absolute;
  width: 100%;
  transition: opacity 2s;
  counter-reset: dra;
}

/* .doctorName::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--roxo2);
  position: absolute;
  left: -10px;
  top: 13px;
  border-radius: 2rem;

} */

.doctorName h3 span,
.doctorName h3 {
  text-align: center;
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--branco);
  border-radius: 1rem;
  background-color: var(--verde3);
  font-family: var(--sourceSans);
  width: 100%;
  margin-top: 1rem;
}

.doctorName h3 span {
  font-weight: 400;
}

/* @media (max-width: 1100px) {
} */
