.hEscolha {
  border-radius: 1.875rem;
  border: 2px solid #dfdfdf;
  background: #fff;
  box-shadow: 10px 8px 10px 0px rgba(124, 124, 124, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 1rem;
  position: relative;

  top: -150px;
}
.hDescription {
  max-width: 50%;
  margin-left: 3rem;
}
.hDescription h3 {
  font-weight: 800;
  font-size: 2.5rem;
  color: var(--roxo1);
}

.hCardEscolha {
  /* background-color: red; */
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  gap: 2rem;
  justify-content: space-between;
}

.hCardEscolha h3 {
  font-size: 2rem;
  color: var(--roxo1);
}
