.hEscolha {
  border-radius: 1.875rem;
  border: 2px solid #dfdfdf;
  background: #fff;
  box-shadow: 10px 8px 10px 0px rgba(124, 124, 124, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 1rem;
  position: relative;
  top: -150px;
}
.hDescription {
  margin-left: 3rem;
}
.hDescription h3 {
  font-weight: 800;
  font-size: 2.5rem;
  color: var(--roxo1);
}

.hCardEscolha {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  gap: 2rem;
  justify-content: space-between;
}

.hCardEscolha h3 {
  font-size: 2rem;
  color: var(--roxo1);
}

@media (max-width: 1175px) {
  .hEscolha {
    flex-direction: column;
  }

  .hDescription {
    margin: 0;
    width: 100%;
    padding: 0 2rem;
  }

  .hDescription h3 {
    font-size: 2.5rem;
  }

  .hCardEscolha {
    width: 100%;
    position: relative;
    margin: 4rem 0;
  }

  .hCardEscolha::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: var(--roxo1);
    position: absolute;
    bottom: -20px;
  }
}
