.especialidades {
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
  margin-top: 5rem;
}

.especialidadesMain {
  margin-top: 5rem;
  text-align: center;
}
.especialidadesMain > span {
  color: var(--branco);
  font-size: 1.8rem;
  background-color: var(--roxo4);
  padding: 0.2rem 2rem;
  font-family: var(--sourceSans);
  border-radius: 2rem;
}

.especialidadesMain > h3 {
  font-weight: 400;
  color: var(--roxo4);
  margin: 1rem 0;
}

.bgOurTeam {
  background: url(../../assets/img/bgTemporario.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* backdrop-filter: blur(2rem); */
  backdrop-filter: brightness(20%);
  min-height: max-content;
  display: flex;
  margin-top: 10rem;
  padding: 8rem 0 15rem;
}

.ourTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ourTeam > h3 {
  color: var(--roxo4);
  font-weight: 400;
  margin: 1rem 0;
}

.ourTeamCards {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ourSpace > .mainContent {
  padding: 5rem 0;
}

.titleCarrossel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.titleCarrosselText {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.titleCarrosselText > span {
  color: var(--cinza);
  font-family: var(--taviraj);
}

.titleCarrosselText h3 {
  font-weight: 400;
  color: var(--roxo4);
  line-height: 0.9;
}

.titleCarrosselLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.titleCarrosselLinks a {
  padding: 0.5rem 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

@media (max-width: 1600px) {
  .especialidades {
    gap: 0;
  }
}

@media (max-width: 1100px) {
  .especialidades {
    flex-direction: column;
  }

  .ourTeam {
    padding: 0 1rem;
  }

  .ourTeamCards {
    flex-direction: column;
    align-items: center;
    gap: 10rem;
  }

  .especialidadesMain > h3,
  .ourTeam > h3 {
    font-size: 2.3rem;
    text-align: center;
    line-height: 1.2;
    margin: 2rem 0;
    font-weight: 500;
  }
}

@media (max-width: 800px) {
  .titleCarrossel {
    flex-direction: column;
    gap: 3rem;
  }
}
