.card {
  box-shadow: 8px 6px 20.5px rgba(0, 0, 0, 0.15);
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(120deg, var(--branco), var(--roxo4)) border-box;
  border: 2px solid transparent;
  padding: 5rem 2rem;
  gap: 3rem;
  border-radius: 2rem;
  width: 320px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.card h3 {
  font-size: 2.4rem;
  color: var(--roxo4);
  padding-bottom: 2rem;
  position: relative;
}

.card h3::after {
  content: "";
  width: 90%;
  height: 1px;
  /* box-shadow: 0 0 3px var(--roxo4); */
  border-radius: 5rem;
  background-color: var(--roxo4);
  position: absolute;
  left: 5%;
  bottom: 0;
  opacity: 30%;
}

.card p {
  color: var(--roxo4);
  font-size: 1.7rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
