.bgHeroComoFunciona {
  background-image: url(../../assets/img/bgHeroTratamento.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}

.acc {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  gap: 2rem;
  border-radius: 1rem;
  border: 2px solid var(--verde3);
}

.acc span.boxAnimation {
  width: 80%;
}

.accordionInternoAnimation {
  width: 100% !important;
}
.accTitle {
  text-align: center;
  padding: 5rem 0 1rem 0;
  color: var(--roxo4);
}

.accTitle span {
  color: var(--roxo4);
  font-family: var(--sourceSans);
  font-size: 1.8rem;
}

.tratamentosNossoTime.bgOurTeam {
  /* padding: 0 !important; */
  position: relative;
}

.tratamentosCta {
  position: absolute;
  bottom: 30px;
  padding: 1rem 2rem;
}

@media (max-width: 700px) {
  .acc {
    border: none;
    padding: 0 1rem;
  }
  .acc span.boxAnimation {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .ctaAcc > a {
    font-size: 1.4rem;
  }
}
