:root {
  --btnPosition: 20px;
}

.btnMenu {
  position: fixed;
  right: var(--btnPosition);
  top: var(--btnPosition);
  display: none;
  z-index: 100;
  width: 40px;
  height: 40px;
  justify-content: space-around;
  gap: 2rem;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
}
.labelMenu {
  display: none;
}
.hamburguerLine {
  position: fixed;
  width: 40px;
  height: 40px;
  right: var(--btnPosition);
  top: var(--btnPosition);
  background-color: var(--roxo1);
  border-radius: 0.5rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--branco);
  transition: 0.4s;
}

.hamburguerLine span:nth-child(1) {
  top: 30%;
}
.hamburguerLine span:nth-child(2) {
  top: 48%;
}
.hamburguerLine span:nth-child(3) {
  bottom: 30%;
}

input[type="checkbox"]:checked ~ .hamburguerLine span:nth-child(1) {
  top: 45%;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburguerLine span:nth-child(2) {
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburguerLine span:nth-child(3) {
  top: 45%;
  transform: rotate(-45deg);
}

.hamburguerLine,
.btnMenu {
  display: none;
}

@media (max-width: 1100px) {
  .btnMenu {
    display: initial;
  }

  .hamburguerLine {
    display: flex;
  }
}
