.bgHeroTratamento {
  background-image: url(../../assets/img/bgHeroTratamento.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}
.stepsAtendimento {
  border: 2px solid var(--cinza5);
  border-radius: 2rem;
  padding: 4rem 4rem;
  margin-top: 3rem;
}
.stepsAtendimento span {
  display: block;
  font-family: var(--sourceSans);
  color: var(--roxo4);
  font-size: 1.8rem;
}
.stepsAtendimento span,
.stepsAtendimento h2 {
  text-align: center;
}
.stepsAtendimento h2 {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--cinza);
  display: flex;
  justify-content: center;
}
.stepsAtendimento h2 img {
  margin-left: 2rem;
}
.stepsCardsBox {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 50%); */
  /* place-items: center; */
  /* place-content: center; */
  gap: 8rem;
  /* background-color: red; */
  margin: 4rem 0;
  position: relative;
}

.stepsCardsBox > span {
  /* background-color: blue; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.complement {
  width: 90px;
  height: 90px;
  background-color: var(--roxo4);
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -30px;
  top: -30px;
}
.complement span {
  font-family: var(--taviraj);
  color: var(--cinza);
  background-color: var(--branco);
  border: 2px solid var(--roxo9);
  font-size: 3rem;
  width: 60px;
  height: 60px;
  border-radius: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stepsCard {
  padding: 3rem;
  border: 2px solid var(--roxo4);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  gap: 5px;

  box-shadow: 8px 6px 20.5px rgba(0, 0, 0, 0.15);
}
.stepsCard span:nth-child(2),
.stepsCard p,
.stepsCard a {
  margin: 0 auto;
  /* padding: 0 3rem; */
}
.stepsCard h3 {
  color: var(--roxo4);
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

/* excluir (excluir tag também)*/
.stepsCard h3 img {
  margin-left: 2rem;
  display: none;
}
/* --- */

.stepsCard .stepsCardDesc {
  font-size: 2rem;
  display: block;
  margin: 2rem auto;
  text-align: left !important;
  margin-right: auto;
  /* background-color: red; */
}
.stepsCard p {
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 2rem;
}
.stepsCard a {
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: var(--taviraj);
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}
.stepsCard a img {
  margin-left: 2rem;
}
.linkAvaliação {
  background-color: var(--roxo6);
  color: var(--branco);
}
.linkTratamentos {
  color: var(--roxo6);
}
.linkAvaliação,
.linkTratamentos {
  transition: 0.2s ease-in-out;
  border: 3px solid var(--roxo6);
}
.linkAvaliação:hover,
.linkTratamentos:hover {
  transform: scale(105%);
  filter: brightness(115%);
}

.diferencial {
  border: 2px solid var(--roxo4);

  border-radius: 1rem;
  margin: 0 auto;
  padding: 4rem 4rem;
  position: relative;
  box-shadow: 8px 6px 20.5px rgba(0, 0, 0, 0.15);
}
.diferencial > div {
  width: 100%;
  position: relative;
}

.diferencial h3 {
  border-radius: 1rem;
  border: 2px solid var(--cinza5);
  padding: 1rem 2rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: var(--roxo4);
  font-weight: 500;
  position: relative;
}
.diferencial h3 img {
  position: absolute;
  right: 20px;
  top: 15px;
}

.diferencial p {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.6rem;
}

.complementoRelogio {
  position: absolute;
  background-color: var(--roxo4);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  z-index: 1;
  top: -7px;
  left: -10px;
}
.complementoRelogio img {
  /* padding: 1rem; */
  position: absolute;
  width: 35px;
  margin-left: 0.3rem;
}
.complementoRelogio::after {
  width: 60px;
  height: 60px;
  background-color: var(--branco);
  content: "";
  border: 3px solid var(--roxo9);

  z-index: -1;
  border-radius: 10rem;
}

.reembolso {
  border: 2px solid var(--cinza5);
  padding: 3rem;

  border-radius: 1rem;
  margin-top: 2rem;
  box-shadow: 8px 6px 20.5px rgba(0, 0, 0, 0.15);
}

.reembolsoBox::after {
  content: url(../../assets/img/svgs/logoPelvieAccordion.svg);
  position: absolute;
  top: -110px;
  left: 41%;
  transform: scale(70%);
}

.reembolsoBox {
  padding: 2rem 4rem;
  border: 2px solid var(--roxo4);
  border-radius: 1rem;
  position: relative;
}

.reembolsoTitle {
  display: flex;
  justify-content: center;
}
.reembolsoTitle h2 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--roxo4);
}

.reembolsoTitle img {
  margin-left: 1rem;
  transform: scale(80%);
}

.reembolsoContent span {
  color: var(--roxo4);
  margin-bottom: 2rem;
  font-family: var(--sourceSans);
  font-size: 1.7rem;
  display: block;
  text-align: center;
}

.reembolsoContent p {
  margin-bottom: 2rem;
  text-align: justify;
  font-size: 1.6rem;
  /* hyphens: auto; */
}

.reembolsoContent ul {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.reembolsoContent ul li img {
  margin-right: 1rem;
}

.especialidadesMainTratamento h3 {
  color: var(--cinza);
}
.especialidadesMainTratamento img:nth-child(1) {
  margin-left: 1rem;
}

@media (max-width: 1100px) {
  .stepsCardsBox {
    flex-direction: column;
  }

  .stepsCard {
    width: 100%;
  }

  .stepsCard h3 {
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .complementoRelogio {
    top: -80px;
    left: -50px;
    transform: scale(70%);
  }
  .diferencial h3 {
    font-size: 1.7rem;
  }
  .reembolsoTitle {
    flex-direction: column-reverse;
  }
  .reembolsoTitle img {
    rotate: -90deg;
    margin: 0 auto 1rem;
  }
  .reembolsoTitle h2 {
    font-size: 1.7rem;
    padding: 1rem;
    border: 2px solid var(--cinza5);
    text-align: center;
    border-radius: 1rem;
  }
  .reembolsoBox::after {
    left: -90px;
    top: -100px;
    transform: scale(40%);
  }
  .reembolsoBox {
    border: none;
  }
  .reembolsoContent {
    padding-bottom: 3rem;
  }
  .reembolsoContent ul {
    flex-direction: column;
    gap: 0;
  }
  .reembolsoContent ul li {
    border-bottom: 1px solid var(--roxo4);
    padding: 2rem 0;
  }

  .reembolsoBox {
    padding: 2rem 0;
  }
}
@media (max-width: 700px) {
  .stepsCard span:nth-child(2),
  .stepsCard p,
  .stepsCard a {
    width: 100%;
  }

  .diferencial h3 {
    display: block;
    text-align: center;
  }

  .diferencial h4 {
    font-size: 1.8rem;
  }

  .diferencial p {
    font-size: 1.7rem;
  }

  .diferencial h3 img {
    top: 10px;
    right: 8px;
  }

  .diferencial {
    border: none;
    width: 100%;
  }

  .complement {
    transform: scale(70%);
    left: -30px;
    top: -30px;
  }

  /* .complement span {
    width: 40px;
    height: 40px;
    font-size: 1.9rem;
  } */

  .stepsCardsBox {
    gap: 5rem;
    padding: 0;
    width: 100%;
  }

  .stepsCard {
    justify-content: space-evenly;
    gap: 2rem;
  }

  .stepsCard h3 {
    font-size: 2.5rem;
    /* width: 80%; */
    padding: 0;
    place-content: center;
  }

  .stepsCardDesc {
    font-size: 1.6rem !important;
  }

  .stepsCard h3 img {
    transform: scale(80%);
    margin-left: 1rem;
  }

  .stepsCard a {
    font-size: 1.3rem;
  }

  .stepsAtendimento {
    border: none;
    padding: 0;
    width: 100%;
  }

  .stepsAtendimento h2 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }

  .diferencial,
  .stepsCard,
  .reembolso {
    box-shadow: none;
    border: 1px solid var(--cinza5);
    border-radius: 2rem;
    box-shadow: 0 0 2px var(--roxo4);
  }
}
@media (max-width: 600px) {
  .diferencial {
    width: 100%;
  }
  .complementoRelogio {
    top: -90px;
  }

  .diferencial h4,
  .diferencial p {
    width: 100%;
  }

  .diferencial h4 {
    text-align: center;
  }

  .diferencial p {
    text-align: justify;
    hyphens: auto;
  }

  .diferencial h3 img {
    top: -50px;
    left: 45%;
  }

  .diferencial {
    padding-top: 6rem;
  }
}
@media (max-width: 430px) {
  .stepsAtendimento h2 {
    font-size: 2rem;
    width: 100%;
  }

  .stepsCard {
    gap: 1rem;
  }

  .stepsCard h3 {
    font-size: 2rem;
  }

  .complement {
    transform: scale(80%);
    /* top: -80px; */
    left: -20px;
  }

  .complementoRelogio {
    transform: scale(90%);
    left: -40px;
  }

  .reembolsoBox::after {
    transform: scale(50%);
    left: -85px;
  }

  .compl .stepsCard h3 img {
    margin-left: 1rem;
  }
}
@media (max-width: 370px) {
  .stepsAtendimento span {
    font-size: 1.4rem;
  }
  .stepsAtendimento h2 {
    font-size: 1.6rem;
    border-bottom: 1px solid var(--roxo4);
    padding-bottom: 2rem;
  }

  .complement {
    display: none;
  }
}
