footer {
  background-color: var(--branco);
  padding: 5rem 1rem 3rem 1rem;
}

.footerItems {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  gap: 5rem;
}

.footerItems h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--cinza);
  width: max-content;
}

.footerItems p {
  margin: 0.5rem 0;
}

.navFooter nav {
  display: flex;
  flex-direction: column;
}

.navFooter nav a {
  position: relative;
  margin: 0.5rem 0;
  font-size: 1.4rem;
}
.navFooter nav a.active::before {
  display: none;
}

.navFooter nav a.active {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--cinza) !important;
}

.contatoFooter {
  padding: 0 2rem;
  /* background-color: sienna; */
  margin: 0 4rem;
}

.contatoFooter a {
  display: block;
  text-decoration: underline;
  transition: 0.1s ease-in-out;
}

.contatoFooter a:hover {
  color: var(--roxo4);
}
.funcionamentoFooter {
  /* background-color: crimson; */
}

.iconesFooter nav {
  gap: 0.5rem;
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}

.iconesFooter nav a img {
  transform: scale(70%);
}

.footDescription {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 1px solid var(--branco3);
}

.footDescription a {
  font-weight: bold;
}

@media (max-width: 1100px) {
  footer {
    padding: 5rem 3rem 3rem 3rem;
  }
  .footerItems {
    flex-direction: column;
    justify-content: center;
  }

  .contatoFooter {
    padding: 0;
    margin: 0;
  }
}
