[data-anime] {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}
[data-anime="opacity"] {
  opacity: 0;
}
[data-anime="scale"] {
  transform: scale(0%);
  scale: 0;
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
  transform: translate3d(0, -50px, 0);
}

[data-anime="bottom"] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 1;
  scale: 1;

  transform: translate3d(0, 0, 0);
}

.boxAnimation {
  display: block;
}
