@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&family=Taviraj:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
:root {
  --pad: 3rem;
  --gap: 3rem;
  --padBtn: 2rem 3rem;
  --verde1: #9ed69a;
  --verde2: #b1ef80;
  --roxo1: #9668a8;
  --roxo2: #874e9d;
  --roxo3: #9b59ffab;
  --roxo4: #9c59ff;
  --roxo5: #5e1d8a0d;
  --roxo6: #7529c7;
  --roxo7: #5e1d8a5d;
  --roxo8: #a66bff;
  --roxo9: #aa8bbb;
  --rosa1: #fbe7ff;
  --branco: #fff;
  --branco2: #f6f6f6;
  --branco3: #bdbdbd;
  --cinza: #4a4a4a;
  --cinza2: #444444;
  --cinza3: #f5f5f5;
  --cinza4: #3a39394a;
  --cinza5: #e4e4e4;
  --preto: #000;
  --taviraj: "Taviraj", serif;
  --sourceSans: "Source Sans 3", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

p,
li {
  font-family: var(--sourceSans);
}

span {
  font-family: inherit;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.5rem;
}

h1,
h2,
h3 {
  font-family: var(--taviraj);
}

a {
  cursor: pointer;
  font-family: var(--sourceSans);
}
p,
a,
li,
span {
  font-size: 1.6rem;
  color: var(--cinza);
}
button {
  color: var(--branco);
  padding: 1.5rem 4rem;
  background-color: var(--roxo2);
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.2s;
}
button:hover {
  background-color: var(--roxo1);
}
.mainContent {
  max-width: 120rem;
  margin: 0 auto;
}
.container {
  padding: var(--pad);
  height: max-content;
  min-width: 100%;
}
.titleCubeL {
  font-weight: 500;
  position: relative;
  color: var(--cinza2);
  text-align: center;
}
.titleCubeL::after {
  content: "";
  border-radius: 1.25rem 0rem;
  background: #bcddba;
  box-shadow: 10px 5px 4px 0px rgba(187, 187, 187, 0.15);
  width: 30px;
  height: 30px;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  left: -30px;
  top: 0;
}
.cta {
  padding: 2rem 3rem;
  background-color: var(--roxo1);
  color: var(--branco);
  border-radius: 30rem;
  font-weight: bold;
  position: relative;
}
.cta:hover {
  -webkit-animation: heartbeat 2s ease-in-out infinite both;
  animation: heartbeat 2s ease-in-out infinite both;
}
.cardBox {
  border-radius: 3.125rem;
  border: 3px solid #ececec;
  background: #fefefe;
  box-shadow: 10px 15px 20px 0px rgba(106, 106, 106, 0.15);
}

.spanLabel,
.spanLabelLeaked {
  color: var(--branco);
  font-size: 1.8rem;
  background-color: var(--roxo4);
  padding: 0.2rem 2rem;
  font-family: var(--sourceSans);
  border-radius: 2rem;
}

.spanLabelLeaked {
  background-color: transparent;
  border: 2px solid var(--roxo4);
  color: var(--roxo4);
}

.ctaBtn1 {
  border-radius: 0.6rem;
  border: 2px solid var(--roxo4);
  color: var(--roxo4);
  display: block;
}

.ctaBtn2 {
  border-radius: 0.6rem;
  background-color: var(--roxo4);
  color: var(--branco);
  display: block;
  border: 2px solid var(--roxo4);
}

.ctaBtn1,
.ctaBtn2 {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    background 0.2s ease-in-out;
}

.ctaBtn1:hover,
.ctaBtn2:hover {
  transform: scale(102%);
  box-shadow: 0 0 3px var(--roxo4);
}
.ctaBtn2:hover {
  background-color: var(--roxo8);
}

*:focus {
  outline: none;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.6rem;
  }
}
@media (max-width: 1100px) {
  body {
    padding-top: 0;
  }

  .titleCubeL {
    font-size: 3rem;
  }
  .spanLabel {
    font-size: 1.3rem;
  }
}
@media (max-width: 600px) {
  .titleCubeL {
    font-size: 2rem;
  }

  .titleCubeL::after {
    top: -5px;
    left: -15px;
    width: 15px;
    height: 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
::selection {
  background-color: var(--roxo4);
  color: var(--branco);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--corPrimaria);
}
::-webkit-scrollbar-thumb {
  background-color: var(--roxo2);
  border-radius: 2rem;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
