.accordion,
.accordionVerde {
  border-radius: 20px;
  border: 1px solid var(--roxo4);
  background: #fff;
  box-shadow: 5px 10px 50px 0px rgba(69, 69, 69, 0.15);
  margin-top: 2rem;
  max-height: 100px;
  overflow-y: hidden;
  border-radius: 10px;
  background: linear-gradient(90deg, #9c59ff 6.88%, #7d56a8 81.16%);
  position: relative;
  margin: 3rem 0;
}
.bolinha {
  position: relative;
}
.bolinha::before,
.verde::before {
  content: url(../../assets/img/svgs/pelvieFundoRoxoAccordion.svg);
  position: absolute;
  left: -60px;
  top: -45px;
  z-index: 3;
  transform: scale(60%);
}
.verde::before {
  content: url(../../assets/img/svgs/pelvieFundoVerdeAccordion.svg);
}
.accordionVerde {
  background: linear-gradient(270deg, #bee596 0%, #56a88a 87%);
  border-color: var(--verde3);
}
.open {
  animation: opened 9s ease forwards;
}
.accordionHeader {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordionHeader h2 {
  padding-left: 4rem;
  font-size: 2.5rem;
  color: var(--branco);
  font-weight: normal;
  font-family: var(--sourceSans);
}
.accordionHeader button {
  transition: rotate 0.2s linear;
  background-color: transparent;
  color: var(--cinza);
  background-image: url(../../assets/img/svgs/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  rotate: 90deg;
  transform: scale(70%);
}
.accordionText {
  padding: 2rem 4rem;
  position: relative;
  gap: 3rem;
  animation: openText 0.4s linear;
  background-color: var(--branco);
  z-index: 2;
  transition: none;
}

.accordionText h3,
.accordionText h4 {
  font-size: 2.6rem;
  font-family: var(--sourceSans);
  font-weight: 500;
  color: var(--roxo4);
  margin: 1rem 0;
}
.accordionVerde h3,
.accordionVerde h4 {
  color: var(--verde3);
}

.accordionText h4 {
  font-size: 2.2rem;
  margin-top: 2rem;
}

.accordionText ul li {
  list-style-type: disc;
  margin-left: 1.5rem;
  color: var(--roxo4);
}

.accordionVerde ul li {
  color: var(--verde3);
}

.accordionText ul p,
.accordionVerde ul p {
  margin: 0;
  padding: 0;
}
.accordionText p {
  padding: 1rem 0;
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 1100px) {
  .accordionHeader h2 {
    font-size: 2rem;
  }
  .bolinha::before,
  .verde::before {
    left: -60px;
    top: -46px;
    transform: scale(50%);
  }
}
@media (max-width: 700px) {
  .bolinha::before,
  .verde::before {
    display: none;
  }
  .accordion {
    margin: 2rem 0;
  }

  .accordionHeader h2 {
    padding: 0;
  }
}
@media (max-width: 600px) {
  .accordionHeader {
    padding: 1rem 0;
  }

  .accordionHeader h2 {
    font-size: 1.5rem;
    margin-left: 2rem;
  }

  .accordionText {
    padding: 2rem;
  }
  .accordionHeader button {
    transform: scale(50%);
  }
}
@keyframes opened {
  0% {
    max-height: 100px;
  }
  100% {
    max-height: 10000px;
  }
}
@keyframes closed {
  0% {
    max-height: 10000px;
  }
  100% {
    max-height: 100px;
  }
}
@keyframes openText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
