.sliderMain {
  position: relative;
  display: flex;
  flex-direction: column;
}

.containerSlide {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 30px;
  /* background-color: red; */
  /* height: auto; */
}

.containerSlide > div {
  transition: transform 0.3s linear;
}

.content {
  display: flex;
  z-index: 2;
  position: relative;
}

.item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  border-radius: 30px;
  opacity: 1;
  transition: opacity 0.8s ease-in, transform 0.8s ease-in-out;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  position: absolute;
  z-index: 3;
}

.nav button:nth-child(1) {
  rotate: 90deg;
}
.nav button:nth-child(2) {
  rotate: -90deg;
}

.nav button {
  font-size: 5rem;
  padding: 0 1rem;
  background-color: transparent;
  transition: transform 0.2s ease-in-out;
}

.nav button:hover {
  transform: scale(120%);
}

.thumbnailContainer {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;

  bottom: 0;
  gap: 2rem;
  width: 100%;
  overflow: hidden;
}

.thumbnailContainer::-webkit-scrollbar {
  background-color: rgb(224, 224, 224);
  width: 8px;
  height: 8px;
}

.thumbnailItem {
  opacity: 0.2;
}

.thumbnailActive {
  opacity: 1;
}

.thumbnail {
  box-shadow: 0 0 20px rgb(0, 0, 0) a3a;
  width: 100px;
  height: auto;
  transition: 0.3s;
  border-radius: 15px;
  cursor: pointer;
}

.thumbnail img {
  width: 100px;
  border-radius: 1rem;
}

.slideItem {
  opacity: 0.5;
  transform: scale(0);
}

.slideActive {
  opacity: 1;
  transform: scale(100%);
}

@media (max-width: 1370px) {
  .containerSlide {
    max-height: 70vh;
  }
}

@media (max-width: 1260px) {
  .thumbnailContainer {
    display: none;
  }
}

@media (max-width: 1100px) {
  .containerSlide {
    height: max-content;
  }
}

@media (max-width: 770px) {
  .item {
    height: 100%;
    width: 100%;
  }

  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    height: 60vh;
  }

  .nav button {
    transform: scale(80%);
  }

  .nav {
    padding: 0 1rem;
  }
  .thumbnailContainer {
    overflow-x: scroll;
  }
}

@media (max-width: 500px) {
  .item img {
    /* width: 452px; */
    /* height: 412px; */
    object-fit: cover;
  }
}
